<!-- title: Notes on Introduction to Analytic Number Theory -->
<!-- date: 2021-03-07 -->
<!-- tag: Mathematics, Book, Meetup -->
<!-- import: math.inc -->
<h1>{{ title }}</h1>
<p>
   This page contains an archive of notes from the book <em>Apostol,
   Introduction to Analytic Number Theory (1976)</em>.
</p>
<p>
  Note that this set of notes is not meant to be a systematic
  exposition of analytic number theory.  Instead this is just a
  collection of examples that illustrate some of the theorems in the
  reference textbook and intermediate steps that are not explicitly
  expressed in the book.  These boards were used to aid the
  discussions during book discussion meetings.  As a result, the
  content of these boards is informal in nature and is not intended to
  be a substitute for the book or the actual discussion meetings.
</p>
<p>
  If you find any mistakes in the content of the board files, please
  <a href="https://github.com/susam/susam.net/issues/new">create a new
  issue</a> or <a href="https://github.com/susam/susam.net">send a
  pull request</a>.
</p>
<ul>
  <li>
    <a href="ch02.html">Notes on Chapter 2: Arithmetical Functions and Dirichlet Multiplication</a>
  </li>
  <!--
  <li>
    <a href="ch03.html">Notes on Chapter 3: Averages of Arithmetical Functions</a>
  </li>
  <li>
    <a href="ch04.html">Notes on Chapter 4: Some Elementary Theorems on the Distribution of Prime Numbers</a>
  </li>
  <li>
    <a href="ch05.html">Notes on Chapter 5: Congruences</a>
  </li>
  <li>
    <a href="ch06.html">Notes on Chapter 6: Finite Abelian Groups and Their Characters</a>
  </li>
  <li>
    <a href="ch07.html">Notes on Chapter 7: Dirichlet's Theorem on Primes in Arithmetical Progressions</a>
  </li>
  <li>
    <a href="ch08.html">Notes on Chapter 8: Periodic Arithmetical Functions and Gauss Sums</a>
  </li>
  <li>
    <a href="ch09.html">Notes on Chapter 9: Quadratic Residues and the Quadratic Reciprocity Law</a>
  </li>
  <li>
    <a href="ch10.html">Notes on Chapter 10: Primitive Roots</a>
  </li>
  <li>
    <a href="ch11.html">Notes on Chapter 11: Dirichlet Series and Euler Products</a>
  </li>
  <li>
    <a href="ch12.html">Notes on Chapter 12: The Functions and \( \zeta(s) \) and \( L(s, \chi) \)</a>
  </li>
  <li>
    <a href="ch13.html">Notes on Chapter 13: Analytic Proof of Prime Number Theorem</a>
  </li>
  <li>
    <a href="ch14.html">Notes on Chapter 14: Partitions</a>
  </li>
  -->
</ul>
<p>
  More notes coming soon!  We have all the meeting notes safely
  archived.  Just need to format them and publish them here.
</p>
