<!-- Comment {{ comment-list-serial }} of {{ comment-count }} -->
<section id="{{ comment-list-serial }}" class="comment {{ comment-class }}">
<h2>{{ commenter }} commented on <a href="{{ commented-page-path }}"><em>{{ commented-page-title }}</em></a>:</h2>
{{ body }}<div>
<a href="#{{ comment-list-serial }}">{{ simple-date }}</a> |
<a href="#{{ comment-list-serial }}">#{{ comment-list-serial }} of {{ comment-count }} {{ comment-label }}</a> |
<a href="{{ comment-page-path }}#{{ comment-file-serial }}">View original comment</a>
</div>
</section>
