<!-- title: Mastering Emacs Book Club -->
<h1>{{ title }}</h1>
<div class="highlight">
  <p>
    Meeting times: Fri 20:00 UTC, Sat 10:00 UTC, Sun 10:00 UTC.<sup>&dagger;</sup>
  </p>
  <p>
    Meeting duration: 40 minutes.
  </p>
  <p>
    Starting On: Fri, 16 Dec 2022 at 20:00 UTC
  </p>
  <p>
    Book: <a href="https://www.masteringemacs.org/">Mastering Emacs</a>
  </p>
  <p>
    Meeting link: <a href="../../meet/{{ index }}">susam.net/meet</a>
  </p>
  <p>
    Meeting log: <a href="../meets/mastering-emacs.html">Planned Meetings</a>
  </p>
  <p>
    Club channel: <a href="https://app.element.io/#/room/#susam:matrix.org">#susam:matrix.org</a>
  </p>
</div>
<p>
  <small>&dagger; There are some exceptions to this schedule
    occasionally.
    <a href="https://app.element.io/#/room/#susam:matrix.org">Join our
    channel</a> to receive schedule updates.</small>
</p>
<p>
  The primary reference book for these meetings is
  <em>Mastering Emacs</em> written by Mickey Peterson. PDF and EPUB
  copies of this book can be purchased
  from <a href="https://www.masteringemacs.org/">masteringemacs.org</a>.
</p>
<h2 id="faq">FAQ</h2>
<ol>
  <li>
    <h3 id="what-is-this-club-about">What is this club about?</h3>
    <p>
      This is a hobby club with a focus on mathematics and
      computation. This club picks reading material about concepts and
      technologies that have been around for a long time and have an
      air of timelessness around them. See the blog
      post <a href="../hello-world.html">Hello, World</a> for more
      details.
    </p>
  </li>
  <li>
    <h3 id="who-runs-this-club">Who runs this club?</h3>
    <p>
      My name is Susam. This is my website. I run this club. I host
      the book club meetings. The last series of book club meetings I
      hosted was about analytic number theory. Some members of Libera
      IRC network and Hacker News participated in those meetings. This
      new series is going to be about Emacs.
    </p>
  </li>
  <li>
    <h3 id="have-you-read-the-book">Have you read the entire book?</h3>
    <p>
      No, I have read about half of the book. This means that I am a few
      chapters ahead of someone who has just begun reading this book, so
      I can maintain a steady pace in the club discussions and also be
      able to tell if some topics or areas of confusion in an earlier
      chapter will be clarified in a later chapter.
    </p>
    <p>
      I have also been using Emacs for many years, so I might be able
      to share some of my own insights on the reading material and
      Emacs as we make progress with the reference book.
    </p>
  </li>
  <li>
    <h3 id="what-is-planned">What is planned for the next few meetings?</h3>
    <p>
      See the <a href="../meets/mastering-emacs.html">meeting log</a>
      which contains a rough plan for the next few meetings along with
      an archive of all previous meetings.
    </p>
  </li>
  <li>
    <h3 id="do-i-need-to-read-in-advance">Do I need to read the planned chapters/pages in
      advance before coming to the meetings?</h3>
    <p>
      Not at all. It is up to you, really. If you would like to read
      the chapters in advance and come, that's great. But it is not
      necessary. We are going to discuss every page of the book in
      detail anyway. Further, we will demonstrate the concepts we
      learn from the book live using an actual Emacs editor. So it is
      perfectly fine if you want to join the meetings without any
      preparation.
    </p>
  </li>
  <li>
    <h3 id="can-beginners-join">I have little to no knowledge of Emacs. Can I join?</h3>
    <p>
      Yes. No prior knowledge of Emacs is expected for joining the
      first few meetings. The reference book selected for these
      meetings teaches everything about Emacs from scratch.
    </p>
  </li>
  <li>
    <h3 id="can-experts-join">I am an expert in Emacs. Will the meetings be useful to me?</h3>
    <p>
      In online discussions, often people with many years of Emacs
      experience have claimed that despite their high degree of
      expertise in Emacs, the book taught them new stuff. Whether
      attending 40-minute meetings, a few days a week, with a
      possibility of learning something new is a good return of your
      investment or not, is something you might want to consider.
    </p>
    <p>
      Having said that, expert Emacs users and developers are very
      welcome to these meetings. In the previous meetings on analytic
      number theory, we found that the experts often contributed to
      the meetings with new insights and interesting background
      information that helped everyone learn the reading material
      better.
    </p>
  </li>
  <li>
    <h3 id="can-i-lurk">Can I just lurk in the meetings?</h3>
    <p>
      Yes, certainly! Lurking is absolutely fine in. In fact, most
      members of the club join in and stay silent throughout the
      meetings. Only a few members talk via audio/video or chat. This
      is considered absolutely normal in this club, so please do not
      hesitate to join our meetings!
    </p>
  </li>
  <li>
    <h3 id="vim-or-emacs">Tell me honestly. Which is better? Vim or Emacs?</h3>
    <p>
      Sorry, we don't do this here! <!-- Emacs, definitely Emacs! -->
    </p>
  <li>
    <h3 id="where-can-i-ask-questions">I have more questions. Where can I ask?</h3>
    <p>
      Join the club channel
      at <a href="https://app.element.io/#/room/#susam:matrix.org">#susam:matrix.org</a>
      to ask more questions.
    </p>
  </li>
</ol>
