<!-- date: 2024-04-07 -->
<!-- title: About RWX -->
<!-- tag: Meta -->
<h1>{{ title }}</h1>
<p>
  <a href="./{{ index }}">RWX</a> is a quirky corner of my website
  where I keep my recent notes and observations across various topics.
  Each post here contains a collection of concise updates, ranging
  from interesting books and articles I have recently encountered to
  handy code snippets and commands.
</p>
<p>
  The name <em>RWX</em> is of course inspired by the Unix
  permissions <code>r</code>, <code>w</code>, and <code>x</code> which
  stand for <em>read</em>, <em>write</em>, and <em>execute</em>.
  Indeed, in this section, I gather bits and fragments of content
  related to what I have been reading, writing, or executing recently.
  But RWX could also mean "recent weekly explorations" or "random
  weekly explorations".  I publish a new post here roughly once every
  one or two weeks.
</p>
<p>
  This section serves as a buffer zone where I can freely archive my
  notes, thoughts, and explorations without having to bother with
  refining them or organising them extensively.  Some entries may
  eventually be turned into complete <a href="../{{ index }}">blog
  posts</a>, while others will remain as fragments indefinitely.
</p>
<p>
  An unusual aspect of this section is its conservative tagging
  approach.  Pages are tagged sparingly, with not all discussed topics
  receiving tags.  For instance, a post might include updates on
  multiple subjects, including Emacs (<a href="2.html">see
  example</a>), yet may not be tagged <a href="../tag/emacs.html">#emacs</a>.
  This is to avoid flooding readers subscribed to specific tag feeds
  with less substantial posts from this section.  Consequently,
  browsing the <a href="../tag/{{ index }}">Tags</a> section does not
  help in locating RWX posts related to a specific topic.
</p>
<p>
  Moreover, when browsing through the post titles on
  <a href="./{{ index }}">RWX</a>, you'll notice that each one only
  includes the initial two topics discussed within the post.  As a
  result, the titles may not fully reflect the entirety of the
  content.  The best way to ascertain what a post contains is by
  visiting it directly.  This may be seen as a feature or a
  limitation.  On one hand, the posts in this section are not easy to
  search by topic, on the other hand each post you visit may offer an
  element of surprise.  Regardless, I hope you find this section fun.
</p>
<p>
  <a href="./{{ index }}">Click here</a> to begin browsing RWX.
</p>
