<!-- date: 2026-01-19 -->
<!-- title: HH -->
<!-- tag: Meta -->
<!-- key: hhxyz -->
<!-- unlist: yes -->
<h1>HH</h1>
<blockquote>
  <p>
    I think that it's extraordinarily important that we in computer
    science keep fun in computing.  When it started out, it was an awful
    lot of fun.  Of course, the paying customers got shafted every now
    and then, and after a while we began to take their complaints
    seriously.  We began to feel as if we really were responsible for
    the successful, error-free perfect use of these machines.  I don't
    think we are.  I think we're responsible for stretching them,
    setting them off in new directions, and keeping fun in the house.  I
    hope the field of computer science never loses its sense of fun.
  </p>
  <p style="padding-left: 2em">
    &mdash; Alan J. Perlis
  </p>
</blockquote>
<hr>
<p>
  Congratulations for reaching this hidden home!  If you feel like it,
  drop by the Libera network's IRC channel
  <a href="https://web.libera.chat/#susam">#susam</a> and say hello.
</p>
