<div class="widget">
  <audio controls preload="none">
    <source src="{{ root }}files/music/{{ slug }}/{{ slug }}.mp3" type="audio/mpeg">
  </audio>

  <div class="links">
    <span>
      [<a href="{{ root }}files/music/{{ slug }}/{{ slug }}.mp3">MP3</a>]
    </span>
    <span>
      [<a href="{{ root }}files/music/{{ slug }}/{{ slug }}.pdf">Score</a>]
    </span>
    <span>
      [<a href="{{ root }}files/music/{{ slug }}/{{ slug }}.ly">Lilypond</a>]
    </span>
    <span>
      [<a href="{{ root }}music/{{ slug }}/">Details</a>]
    </span>
  </div>
</div>
