<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}{{ subtitle }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ root }}css/main.css">
  <link rel="icon" type="image/png" href="{{ root }}favicon.png">
  <link rel="canonical" href="{{ canonical_url }}">{{ imports }}
</head>
<body>
<script>
if (localStorage.getItem('dark') === 'yes') {
  document.body.className = 'dark'
}
</script>
{{ content }}<hr>
<footer>
  <nav class="links">
    <span>[<a class="feed" href="{{ root }}">Home</a>]</span>
    <span>[<a class="feed" href="{{ root }}blog/rss.xml">Feed</a>]</span>
    <span>[<a class="feed" href="{{ root }}dark/">Dark</a>]</span>
    <span>[<a class="feed" href="{{ root }}about/">About</a>]</span>
    <span>[<a class="feed" href="https://github.com/susam">GitHub</a>]</span>
    <span>[<a class="feed" href="https://twitter.com/susam">Twitter</a>]</span>
  </nav>
  <p>&copy; 2006&ndash;{{ current_year }} Susam Pal</p>
</footer>
</body>
</html>
