<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}{{ subtitle }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="icon" type="image/png" href="/favicon.png">
  {{ imports }}
</head>

<body>
<script>
if (localStorage.getItem('dark') === 'yes') {
  document.body.className = 'dark'
}
</script>
{{ content }}

<hr>

<footer>
  <div class="links">
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      <a href="/about/">About</a>
  </div>
  <div class="icons">
      <a href="/blog/rss.xml"><img
         src="/img/footer/feed.svg" alt="Feed" title="RSS Feed"></a>
      <a href="/dark/"><img
         src="/img/footer/moon.svg" alt="Dark Mode" title="Dark Mode"></a>
      <a href="https://github.com/susam"><img
         src="/img/footer/github.svg" alt="GitHub" title="GitHub"></a>
      <a href="https://twitter.com/susam"><img
         src="/img/footer/twitter.svg" alt="Twitter" title="Twitter"></a>
      <a href="https://www.linkedin.com/in/susam/"><img
         src="/img/footer/linkedin.svg" alt="LinkedIn" title="LinkedIn"></a>
  </div>
  <p>&copy; 2006&ndash;{{ current_year }} Susam Pal</p>
</footer>

</body>
</html>
