main > div {
  margin: 1.5em 0;
}
.comment h2 {
  font-size: 1em;
  margin-top: 0;
}
.comment {
  border: thin solid #666;
  padding: 0.625em;
  margin: 1em 0;
}
.comment :last-child {
  margin-bottom: 0;
}
.comment.author {
  border-width: medium;
  border-style: double;
}
.dark .comment {
  border-color: #999; /* Match reading.css */
}
