/* Input */
label {
  margin-top: 1em;
  display: block;
}
#name, #url, #comment {
  /* Make all input fields look similar. */
  width: 100%;
  border: thin solid gray;
  border-radius: 0.25em;
  padding: 0.5em;
}
textarea {
    min-height: 10em;
}
input#submit {
  min-width: 75%;
  min-height: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1em;
}
/* Status */
.status {
  display: none;
}
.errors .status, .success .status {
  display: block;
  border-width: medium;
  border-style: double;
  margin-top: 1em;
  margin-bottom: 1em;
}
.errors .status {
  color: #900;
  border-color: #900;
}
.success .status {
  color: #060;
  border-color: #060;
}
@media (prefers-color-scheme: dark) {
  .errors .status {
    color: #f99;
    border-color: #f99;
  }
  .success .status {
    color: #3c6;
    border-color: #3c6;
  }
}
