/* General */
body {
  margin: 0;
  line-height: 1.5;
  font-family: helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 1em;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0.5em;
}

audio {
  min-width: 75%;
  max-width: 100%;
}

figure {
  text-align: center;
  margin: 2em 0;
}

figure img {
  max-width: 100%;
}

figcaption {
  font-size: small;
}


/* Code */
pre, code, samp, kbd {
  font-family: monospace,monospace;
  font-size: 0.9em;
}

pre code, pre samp, pre kbd {
  font-size: 1em;
}

pre {
  padding: 0.5em;
  overflow: auto;
}

pre kbd {
  font-style: italic;
}


/* Blockquote */
blockquote {
  border-left: medium solid;
  margin-right: 0;
  margin-left: 0;
  padding: 0.5em;
}

blockquote *:first-child {
  margin-top: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}


/* Layout */
header, main, footer {
  max-width: 42em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

hr {
  max-width: 44em;
  margin: 1em auto;
  border: 0;
  border-bottom: thin dotted gray;
}


/* Links */
a:link, a:visited {
  text-decoration: none
}

a:hover, a:active {
  text-decoration: underline
}

.links a {
  font-size: small;
  font-weight: bold;
  margin-right: 1em;
}

.links a:last-child {
  margin-right: 0;
}

/* Footer */
footer .links a {
  font-size: medium;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

footer .links, footer .social {
  margin-top: 1em;
  margin-bottom: 1em;
}

footer .social a {
  margin-right: 0.5em;
}

footer .social a:last-child {
  margin-right: 0;
}

footer .social img {
  height: 1.25em;
}


/* Blog Listing */
ul.posts {
  padding-left: 1em;
}


/* Post */
.meta {
  font-size: small;
  font-style: italic;
}

.meta a:link, .meta a:visited {
}

.meta a:hover, .meta a:active {
}


/* Comments */
.comment h2 {
  font-size: 1em;
  margin-top: 0;
}

.comment :last-child {
  margin-bottom: 0;
}

.comment {
  border: thin solid;
  padding: 0.625em;
  margin: 1em 0;
}

.comment.author {
  border-width: medium;
  border-style: double;
}


/* Home page */
p.summary {
  margin-bottom: 0.25em;
}

.all {
  margin-top: 1em;
}


/* Everything below this comment is meant for usage in content body. */

/* Generic text centering */
.textcenter {
  text-align: center;
}

/* Generic block element centering */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* Highlight Box */
.highlight {
  /* Should be similar to pre style */
  padding: 0.5em;
}

.highlight *:first-child {
  margin-top: 0;
}

.highlight *:last-child {
  margin-bottom: 0;
}

/* Plain Table */
table {
  margin-top: 1em;
  margin-bottom: 1em;
}

thead {
  text-align: left;
}

th, td {
  padding-right: 1.0em;
}

/* Grid Table */
table.grid {
  border-collapse: collapse;
}

table.grid th, table.grid td {
  border: thin solid;
}

table.grid th, table.grid td {
  padding: 0.3em 0.4em;
}

/* Ruled Table */
table.ruled {
  border-collapse: collapse;
  border-top: medium double;
  border-bottom: medium double;
}

table.ruled thead {
  border-bottom: medium double;
}

table.ruled tr {
  border-bottom: thin solid;
}

table.ruled th, table.ruled td {
  padding: 0.3em 0.4em;
}

/* Email */
.email {
  border: thin solid gray;
  margin-top: 1em;
  margin-bottom: 1em;
}

.email .header, .email .body {
  margin: 1em;
}

noscript div {
  border: medium double #cc0000;
  color: #cc0000;
  padding-left: 1em;
  padding-right: 1em;
}

/* Colors */
body,
h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited,
.links a:link, .links a:visited,
.posts a:link, .posts a:visited
{
  color: #333333;
}

h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active,
h6 a:hover, h6 a:active,
.links a:hover, .links a:active,
.posts a:hover, .posts a:active
{
  color: #666666;
}

body.dark {
  background: #333333;
}

body.dark,
.dark h1 a:link, .dark h1 a:visited,
.dark h2 a:link, .dark h2 a:visited,
.dark h3 a:link, .dark h3 a:visited,
.dark h4 a:link, .dark h4 a:visited,
.dark h5 a:link, .dark h5 a:visited,
.dark h6 a:link, .dark h6 a:visited,
.dark .links a:link, .dark .links a:visited,
.dark .posts a:link, .dark .posts a:visited
{
  color: #cccccc;
}

.dark h1 a:hover, .dark h1 a:active,
.dark h2 a:hover, .dark h2 a:active,
.dark h3 a:hover, .dark h3 a:active,
.dark h4 a:hover, .dark h4 a:active,
.dark h5 a:hover, .dark h5 a:active,
.dark h6 a:hover, .dark h6 a:active,
.dark .links a:hover, .dark .links a:active,
.dark .posts a:hover, .dark .posts a:active
{
  color: #ffffff;
}

/* Image background */
figure img {
  opacity: 0.8;
}

/* Code and quote colors */
pre, code, samp, kbd {
  color: #000066;
}

pre, blockquote {
  background: #eeeeee;
}

pre kbd {
  color: #006600;
}

.dark pre, .dark code, .dark samp, .dark kbd {
  color: #66ccff;
}

.dark pre, .dark blockquote {
  background: #222222;
}

.dark pre kbd {
  color: #00cc00;
}

/* Quote border colors */
blockquote {
  border-left-color: #cccccc;
}

.dark blockquote {
  border-left-color: #444444;
}

/* Highlight colors */
.highlight {
  background: #f1f5f9;
}

.dark .highlight {
  background: #413d39;
}

/* Link colors */
a:link, a:visited {
  color: #0033cc;
}

a:hover, a:active {
  color: #0066ff;
}

.dark a:link, .dark a:visited {
  color: #99ccff;
}

.dark a:hover, .dark a:active {
  color: #aaddff;
}

/* Meta link colors */
.meta, .meta a:link, .meta a:visited {
  color: #666666;
}

.meta a:hover, .meta a:active {
  color: #333333;
}

.dark .meta, .dark .meta a:link, .dark .meta a:visited {
  color: #999999;
}

.dark .meta a:hover, .dark .meta a:active {
  color: #cccccc;
}

/* Comment border colors */
.comment {
  border-color: #666666;
}

.dark .comment {
  border-color: #999999;
}

/* Form colors */
.dark input, .dark textarea, .dark button {
  background: #222222;
  color: #cccccc;
}

/* Social media icon colors */
.social img {
  opacity: 0.8; /* 1 - 0x33 / 0xff */
}

.social img:hover {
  opacity: 0.6; /* 1 - 0x66 / 0xff */
}

.dark .social img {
  opacity: 1; 
  filter: invert(0.8); /* 0xcc / 0xff */
}

.dark .social img:hover {
  opacity: 1; 
  filter: invert(1);  /* 0xff / 0xff */
}
