.reading section {
  border: thin dotted #666;
  padding: 0.625em;
  margin: 1em 0;
}
.reading section h3 {
  margin-top: 0;
}
.reading section :last-child {
  margin-bottom: 0;
}
@media (prefers-color-scheme: dark) {
  .reading section {
    border-color: #999; /* Match comment.css */
  }
}
