0 1 * * * (date; certbot renew -n; date; echo ::::) >> /opt/log/cron/certbot.log 2>&1
0 2 * * * (date; systemctl reload nginx; date; echo ::::) >> /opt/log/cron/reload.log 2>&1
0 * * * * (date; make -C /opt/susam.net/ reroll; date; echo ::::) >> /opt/log/cron/roll.log 2>&1
