[Unit]
Description=Website Form
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/susam.net
Environment=CL_SOURCE_REGISTRY=/opt/cl/form// ASDF_OUTPUT_TRANSLATIONS=/opt/cl/:/opt/cache/cl/
ExecStart=/usr/bin/sbcl --load form.lisp
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# Note: ASDF (comes with Quicklisp) creates a 'common-lisp' directory
# under the specified XDG_CACHE_HOME directory.
