[Unit]
Description=Susam.in App
After=network.target

[Service]
User=www-data
ExecStart=/usr/bin/uwsgi --socket /tmp/spapp.sock \
                         --uid www-data --gid www-data \
                         --chdir /opt/live/susam.in \
                         --plugin python3 \
                         --module py.spapp:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
