[Unit]
Description=Susam.in App
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/susam.in
ExecStart=/usr/bin/sbcl --load spapp.lisp
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
