<!-- date: 2022-07-27 -->
<!-- title: Real Analysis -->
<!-- tag: Mathematics, Real Analysis, Book, Meetup -->
<h1>{{ title }}</h1>
<div class="highlight">
  <p>
    Meeting time: 20:00 UTC on Saturdays and Sundays
    usually.<sup>&dagger;</sup>
  </p>
  <p>
    Meeting duration: 40 minutes.
  </p>
  <p>
    Book: <a href="https://link.springer.com/book/10.1007/978-1-4471-0341-7">Real Analysis (Howie, 2001)</a>
  </p>
  <p>
    Meeting link: <a href="../../meet/{{ index }}">susam.net/meet</a>
  </p>
  <p>
    Meeting log: <a href="log.html#upcoming">click here</a>
  </p>
  <p>
    Meeting notes: <a href="ch01.html">ch01.html</a>
  </p>
  <p>
    Started: 27 Jul 2024
  </p>
</div>
<p>
  <small>&dagger; There are some exceptions to this schedule
  occasionally.  <a href="../{{ index }}#join">Join our channel</a> to
  receive schedule updates.</small>
</p>
<p>
  The primary reference book for these meetings is
  <em>Real Analysis</em> written by the Scottish mathematician John
  Mackintosh Howie.
</p>
<p>
  These meetings are hosted by Susam and attended by some members of
  <code>##math</code> and <code>#algorithms</code> channels of Libera
  IRC network as well as by some members
  from <a href="https://news.ycombinator.com/">Hacker News</a>.
</p>
<p>
  You are welcome to join these meetings anytime.  If you are
  concerned that the meetings may not make sense if you join when we
  are in the middle of a chapter, please free to talk to us about it
  in the <a href="../{{ index }}#join">group channel</a>.  I can
  recommend the next best time to begin joining the meetings.
  Usually, it would be when we begin reading a new section or chapter
  that is fairly self-contained and does not depend a lot on material
  we have read previously.
</p>
