<!-- date: 2024-07-27 -->
<!-- title: Real Analysis -->
<!-- tag: Mathematics, Real Analysis, Book, Meetup -->
<h1>{{ title }}</h1>
<div class="highlight">
  <p>
    Meeting time: 19:00 UTC on Saturdays and Sundays
    usually.<sup>&dagger;</sup>
  </p>
  <p>
    Meeting duration: 40 minutes.
  </p>
  <p>
    Meeting link: <a href="../../meet/{{ index }}">susam.net/meet</a>
  </p>
  <p>
    Meeting log: <a href="log.html#upcoming">click here</a>
  </p>
  <p>
    Reference book:
    <a href="https://link.springer.com/book/10.1007/978-1-4471-0341-7"><em>Real
    Analysis</em></a> by John M. Howie (2001)
  </p>
  <p>
    Chapter notes: <a href="ch01.html">ch01.html</a>
  </p>
  <p>
    Club channel:
    <a href="https://app.element.io/#/room/#susam:matrix.org">#susam:matrix.org</a> /
    <a href="https://web.libera.chat/#susam">#susam:libera.chat</a><sup>&ddagger;</sup>
  </p>
  <p>
    Mastodon:
    <a href="https://mastodon.social/@susam">@susam@mastodon.social</a>
  </p>
  <p>
    Started: 27 Jul 2024
  </p>
</div>
<p>
  <small>&dagger; There are some exceptions to this schedule
  occasionally.  Join
  <a href="https://app.element.io/#/room/#susam:matrix.org">#susam:matrix.org</a>
  or <a href="https://web.libera.chat/#susam">#susam:libera.chat</a>
  or follow <a href="https://mastodon.social/@susam">@susam@mastodon.social</a>
  to receive schedule updates.</small>
</p>
<p>
  <small>&ddagger; You only need to join either the Matrix channel or
  the Libera channel, not both.  Both channels are bridged together.
  If you are not an active IRC user, prefer joining the Matrix channel
  because it is more convenient for someone unfamiliar with IRC.  For
  example, you can close your browser or client and your chat session
  will still stay alive on Matrix.  You can connect back the next day
  and catch up with the messages.  Doing that with IRC requires
  slightly more work such as setting up IRC bouncers etc.</small>
</p>
<p>
  The primary reference book for these meetings is
  <em>Real Analysis</em> written by the Scottish mathematician John
  Mackintosh Howie.
</p>
<p>
  These meetings are hosted by Susam and attended by some members of
  <code>##math</code> channel of Libera IRC network as well as by some
  members from <a href="https://news.ycombinator.com/">Hacker
  News</a>.
</p>
<p>
  You are welcome to join these meetings anytime.  If you are
  concerned that the meetings may not make sense if you join when we
  are in the middle of a chapter, please free to talk to us about it
  in the <a href="../{{ index }}#join">group channel</a>.  I can
  recommend the next best time to begin joining the meetings.
  Usually, it would be when we begin reading a new section or chapter
  that is fairly self-contained and does not depend a lot on material
  we have read previously.
</p>
<h2 id="faq">FAQ</h2>
<ol>
  <li>
    <h3 id="what-is-this-club-about">What is this club about?</h3>
    <p>
      This is a hobby club with a focus on mathematics and
      computation.  This club picks reading material about concepts
      and technologies that have been around for a long time and have
      an air of timelessness around them.  See the blog
      post <a href="../../reading-classic-computation-books.html">Reading
      Classic Computation Books</a> for more details.
    </p>
  </li>
  <li>
    <h3 id="who-runs-this-club">Who runs this club?</h3>
    <p>
      My name is Susam.  This is my website.  I run this club.  I host
      the book club meetings.  The last two series of book club
      meetings I hosted were about <a href="../iant/{{ index }}">analytic
      number theory</a> and <a href="../mastering-emacs/{{ index }}">Emacs</a>.
      Some members of Libera IRC network and Hacker News participated
      in those meetings.  This new series is going to be about real
      analysis.
    </p>
  </li>
  <li>
    <h3 id="what-topics-are-you-going-to-discuss-in-the-meetings">What topics are you going to discuss in the meetings?</h3>
    <p>
      We will discuss the content of the reference book.  This
      includes topics like sequences and series, functions and
      continuity, differentiation and integration, Taylor's theorem,
      the Riemann integral, etc.
    </p>
  </li>
  <li>
    <h3 id="why-did-you-not-pick-rudins-text-for-the-meetings">Why did you not pick Rudin's text for the meetings?</h3>
    <p>
      The first series of book club meeting I organised focussed on
      the book <em>Introduction to Analytic Number Theory</em> written
      by Tom M. Apostol.  While the book excelled in rigour, some
      members, especially those without a strong mathematics
      background, found the constant alternation between theorems and
      proofs a bit too dry.  Personally, I thoroughly enjoyed it.
      See <a href="../../journey-to-prime-number-theorem.html">Journey
      to Prime Number Theorem</a> for a related post.
    </p>
    <p>
      For the current series of meetings, I have chosen a more
      lightweight book that is easy to read.  Howie's relaxed writing
      style in this book seems enjoyable.  I do not know yet if this
      ease of reading comes at the cost of rigour.  I might be able to
      assess that better as we make more progress through this book.
    </p>
  <li>
    <h3 id="have-you-read-the-book">Have you read the entire book?</h3>
    <p>
      No, I have read the first few chapters of the book.  This means
      that I am a few chapters ahead of someone who has just begun
      reading this book, so I can maintain a steady pace in the club
      discussions and also be able to tell if some topics or areas of
      confusion in an earlier chapter will be clarified in a later
      chapter.
    </p>
  </li>
  <li>
    <h3 id="what-is-planned">What is planned for the next few meetings?</h3>
    <p>
      See the <a href="log.html">meeting log</a> which contains a
      rough plan for the next few meetings along with an archive of
      all previous meetings.
    </p>
  </li>
  <li>
    <h3 id="do-i-need-to-read-in-advance">Do I need to read the planned chapters/pages in advance before coming to the meetings?</h3>
    <p>
      Not at all.  It is up to you, really.  If you would like to read
      the chapters in advance and come, that's great.  But it is not
      necessary.  We are going to discuss every page of the book in
      detail anyway.
    </p>
  </li>
  <li>
    <h3 id="can-i-lurk">Can I just lurk in the meetings?</h3>
    <p>
      Yes!  Lurking is absolutely fine in our club meetings.  In fact,
      most members of the club join in and stay silent throughout the
      meetings.  Only a few members talk via audio/video or chat.
      This is considered absolutely normal in this club, so please do
      not hesitate to join our meetings!
    </p>
  </li>
  <li>
    <h3 id="where-can-i-ask-questions">I have more questions.  Where can I ask?</h3>
    <p>
      Join the club channel
      at <a href="https://app.element.io/#/room/#susam:matrix.org">#susam:matrix.org</a>
      or <a href="https://web.libera.chat/#susam">#susam:libera.chat</a>
      to ask more questions.
    </p>
  </li>
</ol>
