audio {
  min-width: 75%;
  max-width: 100%;
}
figure {
  text-align: center;
  margin: 1em 0;
}
figure img, figure video {
  max-width: 100%;
}
.stretch img {
  width: 100%;
}
.soft img {
  opacity: 0.8; /* (0xff - 0x33) / 0xff */
}
.lightshadow img {
  box-shadow: 0em 0em 0.5em {{ light-line-color }};
}
figcaption {
  font-size: medium;
}
table {
  margin-top: 1em;
  margin-bottom: 1em;
}
th {
  text-align: left;
}
th, td {
  padding-right: 1em;
}
td *:first-child {
  margin-top: 0;
}
td *:last-child {
  margin-bottom: 0;
}
table.grid {
  border-collapse: collapse;
}
table.grid th, table.grid td {
  border-width: thin;
  border-style: solid;
}
table.grid th, table.grid td {
  padding: 0.3em 0.4em;
}
table.ruled {
  border-collapse: collapse;
  border-top-width: medium;
  border-top-style: double;
  border-bottom-width: medium;
  border-bottom-style: double;
}
table.ruled thead {
  border-bottom-width: medium;
  border-bottom-style: double;
}
table.ruled tr {
  border-bottom-width: thin;
  border-bottom-style: solid;
}
table.ruled th, table.ruled td {
  padding: 0.3em 0.4em;
}
table.top td {
  vertical-align: top;
}
table, thead, tr, th, td {
  border-color: {{ light-line-color }};
}
noscript div {
  border: medium double {{ light-error-color }};
  color: {{ light-error-color }};
  padding: 0 1em;
}
.box {
  border: thin solid {{ light-line-color }};
  margin: 1em 0;
  padding: 1em;
}
.box *:first-child {
  margin-top: 0;
}
.box *:last-child {
  margin-bottom: 0;
}
.textcenter {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.light {
  display: block;
}
.dark {
  display: none;
}
.ctrl-l:before {
  content: "^L";
}
.hl {
  color: {{ light-hl-color }};
}
.wrap {
  word-break: break-all;
  white-space: pre-wrap;
}
.question {
  margin-top: 1.5em;
  font-weight: bold;
}
@media (prefers-color-scheme: dark) {
  .soft img {
    opacity: 0.7; /* (0xbb - 0x11) / (0xff - 0x11) */
  }
  .lightshadow img {
    box-shadow: none;
  }
  table, thead, tr, th, td, .email {
    border-color: {{ dark-line-color }};
  }
  .light {
    display: none;
  }
  .dark {
    display: block;
  }
  .hl {
    color: {{ dark-hl-color }};
  }
}
