form {
  margin: 1em 0;
}
input, textarea, button {
  font-family: {{ font-family }};
  font-size: 1em;
  margin-top: 1em;
}
input:first-child {
  margin-top: 0;
}
input, textarea {
  border: thin solid {{ light-line-color }};
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
}
textarea {
  min-height: 10em;
}
button {
  min-width: 75%;
  min-height: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.status {
  display: none;
}
.status.success, .status.error {
  display: block;
  border-width: medium;
  border-style: double;
  margin: 1em 0;
}
.status.success {
  color: {{ light-success-color }};
  border-color: {{ light-success-color }};
}
.status.error {
  color: {{ light-error-color }};
  border-color: {{ light-error-color }};
}
@media (prefers-color-scheme: dark) {
  input, textarea, button {
    background: {{ dark-fill-color }};
    color: {{ dark-body-color }};
    border-color: {{ dark-line-color }};
  }
  button:active {
    background: {{ dark-shade-color }};
  }
  .status.error {
    color: {{ dark-error-color }};
    border-color: {{ dark-error-color }};
  }
  .status.success {
    color: {{ dark-success-color }};
    border-color: {{ dark-success-color }};
  }
}
