/* Music widget */
.widget a {
  margin-right: 1.5em;
}
.widget a:last-child {
  margin-right: 0;
}
/* Music post */
.music .widget {
  text-align: center;
}
.music a:last-child {
  display: none; /* Hide 'details' link in music post */
}
/* Music list */
.musiclist h2 {
  text-align: center;
}
.musiclist section {
  margin: 2.5em 0;
}
.musiclist .music a:last-child {
  display: inline;
}
