/* Music widget */
.widget a {
  margin-right: 1.5em;
}
.widget {
  text-align: center;
}
.widget a:last-child {
  display: none;
}
/* Music list */
.musiclist h2 {
  text-align: center;
}
.musiclist section {
  margin: 2.5em 0;
}
.musiclist .widget a:last-child {
  display: inline;
  margin-right: 0;
}
