.reading {
  border: thin dotted {{ light-line-color }};
  padding: 0.625em;
  margin: 1em 0;
}
.reading h3 {
  margin-top: 0;
}
.reading :last-child {
  margin-bottom: 0;
}
@media (prefers-color-scheme: dark) {
  .reading {
    border-color: {{ dark-line-color }};
  }
}
