<!-- title: Susam's Computation Club  -->
<!-- subtitle:  -->
<!-- import: math.inc -->
<h1>{{ title }}</h1>
<p>
  Welcome to Susam's Computation Club! This is a hobby computation
  club focussed around mathematics and computation. We pick classics
  from the field of mathematics and computation and read them
  together.
</p>
<h2 id="join">Join</h2>
<p>
  To join this club, visit the link below to join our Matrix channel.
  All meeting schedule updates are announced in this channel.
</p>
<p>
  <a href="https://app.element.io/#/room/#susam:matrix.org">#susam:matrix.org</a>
</p>
<p>
  Participate in this club by joining the meetings and sharing any
  insights you have about the reading material.
</p>
<h2 id="active">Planned Activities</h2>
<p>
  <a href="mastering-emacs/{{ index }}">Mastering Emacs</a> (Starting on 16 Dec 2022)
</p>
<h2 id="completed">Completed Activites</h2>
<p>
  <a href="iant/{{ index }}">Introduction to Analytic Number Theory</a>
  (05 May 2021 to 01 Oct 2021, 120 meetings)
</p>
<h2 id="meeting-logs">Meeting Logs</h2>
<p><a href="meets/mastering-emacs.html">Mastering Emacs</a></p>
<p><a href="meets/iant.html">Introduction to Analytic Number Theory</a></p>
<p><a href="meets/index.html">All Meetings</a></p>
<h2 id="posts">Posts</h2>
<p><a href="hello-world.html">Hello, World!</a></p>
<p><a href="100th-meeting.html">Our 100th Meeting</a></p>
<p><a href="posts.html">More Posts</a></p>
