<!-- title: Notes from Mastering Emacs Meetups -->
<!-- date: 2022-12-17 -->
<!-- tag: Emacs Technology Book -->
<h1>{{ title }}</h1>
<p>
  The following notes were taken while discussing the
  book <em>Mastering Emacs</em>, 2022 edition (written by Mickey
  Petersen) in
  <a href="./{{ index }}">book discussion group meetings</a>.
</p>
<p>
  Note that these notes are not a good substitute for the actual book.
  Not everything in the book is captured in these notes.  While some
  points mentioned in the book are missing from the notes, there are
  also some points from the book where these notes discuss them in
  much greater detail than the book does.
</p>
<ul class="blog">
  <li>
    <a href="ch01.html">Notes on Mastering Emacs: Chapter 1: Introduction</a>
  </li>
  <li>
    <a href="ch02.html">Notes on Mastering Emacs: Chapter 2: The Way of Emacs</a>
  </li>
  <li>
    <a href="ch03.html">Notes on Mastering Emacs: Chapter 3: First Steps</a>
  </li>
  <li>
    <a href="ch04.html">Notes on Mastering Emacs: Chapter 4: The Theory of Movement</a>
  </li>
  <li>
    <a href="ch05.html">Notes on Mastering Emacs: Chapter 5: The Theory of Editing</a>
  </li>
  <li>
    <a href="ch06.html">Notes on Mastering Emacs: Chapter 6: The Practicals of Emacs</a>
  </li>
  <li>
    <a href="ch07.html">Notes on Mastering Emacs: Chapter 7: Conclusion</a>
  </li>
</ul>
