<!-- title: Introduction to Analytic Number Theory -->
<h1>{{ title }}</h1>
<div class="highlight">
  This meeting series is complete! There are no new meetings happening
  as part of this book club anymore. Go to the club's
  <a href="../{{ index }}">main page</a> to find out about current
  active meetings.
</div>
<p>
  The following content on this page is an archive of the content
  as it appeared on the last day of meeting for this book club.
</p>
<hr>
<div class="highlight">
  <p>
    Meeting time: 17:00 UTC from Tuesday to Friday, usually.<sup>&dagger;</sup>
  </p>
  <p>
    Meeting duration: 40 minutes.
  </p>
  <p>
    Book: <a href="https://www.springer.com/gp/book/9780387901633">Introduction
      to Analytic Number Theory (Apostol, 1976)</a>
  </p>
  <p>
    Zoom meeting link: <a href="https://bit.ly/spzoom2">bit.ly/spzoom2</a>
  </p>
  <p>
    Meeting log: <a href="../meets/iant.html">120 meetings</a>
  </p>
  <p>
    Meeting notes: <a href="notes.html">Notes</a>
  </p>
  <p>
    Started: 05 Mar 2021
  </p>
  <p>
    Ended: 01 Oct 2021
  </p>
</div>
<p>
  <small>&dagger; There are some exceptions to this schedule
    occasionally. <a href="../{{ index }}#join">Join our channel</a>
    to receive schedule updates.</small>
</p>
<p>
  The primary reference book for these meetings is
  <em>Introduction to Analytic Number Theory</em> written by Tom
  M. Apostol. Admittedly, the book is quite expensive but you may
  find a relatively cheap paperback (softcover) copy on some
  websites.
</p>
<p>
  These meetings are hosted by Susam and attended by some members of
  <a href="#math">#math</a> and <a href="#algoritms">#algorithms</a>
  channels of Libera IRC network as well as by some members
  from <a href="https://news.ycombinator.com/">Hacker News</a>.
</p>
<p>
  You are welcome to join these meetings anytime. If you are concerned
  that the meetings may not make sense if you join when we are in the
  middle of a chapter, please free to talk to us about it in
  the <a href="../{{ index }}#join">club channel</a>. I can recommend
  the next best time to begin joining the meetings. Usually, it would
  be when we begin reading a new section or chapter that is fairly
  self-contained and does not depend a lot on material we have read
  previously.
</p>
