<!-- title: Notes on Introduction to Analytic Number Theory -->
<h1>{{ title }}</h1>
<p>
   This page contains an archive of notes from the book <em>Apostol,
   Introduction to Analytic Number Theory (1976)</em>.
</p>
<p>
  Note that this set of notes is not meant to be a systematic
  exposition of analytic number theory. Instead this is just a
  collection of examples that illustrate some of the theorems in the
  reference textbook and intermediate steps that are not explicitly
  expressed in the book. These boards were used to aid the discussions
  during book club meetings. As a result, the content of these boards
  is informal in nature and is not intended to be a substitute for the
  book or the actual club meetings.
</p>
<p>
  If you find any mistakes in the content of the board files, please
  <a href="https://github.com/susam/susam.net/issues/new">create a new
  issue</a> or <a href="https://github.com/susam/susam.net">send a
  pull request</a>.
</p>
<ul>
  <li>
    <a href="ch02.html">Chapter 2: Arithmetical Functions and Dirichlet Multiplication</a>
  </li>
  <li>
    More notes coming up soon!
  </li>
</ul>
