<h1>{{ title }}</h1>
<div id="sub">Read, Write, Execute</div>
<p>
  Welcome to RWX, a quirky corner of my website where a diverse mix of
  topics come together.  Each post here contains a collection of very
  brief updates spanning from interesting books and articles I have
  recently encountered to handy code snippets and commands.
</p>
<p>
  See this <a href="README.html">README</a> for more details about
  RWX.  Subscribe to <a href="../tag/rwx.xml">rwx.xml</a> for RSS feed
  for this section of the website.  Alternatively, subscribe
  to <a href="../feed.xml">feed.xml</a> for a feed for the whole
  website.
</p>
<ul class="blog">
{{ body }}</ul>
<script>
  const messages = [
    'Read, Write, Explore',
    'Random Weekly Explorations',
    'Recent Weekly Explorations',
    'Read, Write, Execute',
  ]

  let idx = 0
  let len = 0
  let blink = 1

  const sub = document.getElementById('sub')
  let cursor = '<span style="border-left: thin solid; margin-left: 2px">&nbsp;</span>'

  function iterate () {
    const msg = messages[idx]
    sub.innerHTML = msg.substring(0, len) + ((blink % 2 === 1) ? cursor : '')
    let interval
    if (len < msg.length) {
      blink = 1
      interval = len < 4 ? 500 : 100
      ++len
    } else if (blink < 8) {
      ++blink
      interval = 500;
    } else if (idx < messages.length - 1) {
      ++idx
      len = 0
      blink = 1
      interval = 500
    } else {
      return
    }

    setTimeout(iterate, interval)
  }

  setTimeout(iterate, 5000)
</script>
