<h1>{{ title }}</h1>
<div id="desc">Read, Write, E<em>x</em>ecute</div>
<p>
  Welcome to RWX, a quirky corner of my website where a diverse mix of
  topics come together.  Each post here contains a collection of very
  brief updates spanning from interesting books and articles I have
  recently encountered to handy code snippets and commands.
</p>
<ul class="blog">
{{ body }}</ul>
<script>
  const subtitles = [
    'Read, Write, E<em>x</em>ecute',
    'Reading, Writing, E<em>x</em>ploring',
    'Recent Weekly E<em>x</em>plorations',
  ]
  const desc = document.getElementById('desc')
</script>
