<!-- title: Classic Computation Circle -->
<!-- subtitle:  -->
<!-- import: math.inc -->
<h1>{{ title }}</h1>
<p>
  Welcome to this classic computation circle! This is a tiny and
  informal hobby group that picks classics from the field of
  mathematics and computation, reads them, and discusses them
  together.
</p>
<h2 id="join">Join</h2>
<p>
  To join this our discussions, visit the link below to join our
  Matrix channel. All meeting schedule updates are announced in this
  channel:
</p>
<p>
  <a href="https://app.element.io/#/room/#susam:matrix.org">#susam:matrix.org</a>
</p>
<p>
  In case you are familiar with IRC networks and like it more than
  Matrix, then you may
  join <a href="https://web.libera.chat/#susam">#susam</a> on the
  Libera IRC network instead. The Matrix and IRC channels are bridged
  together, so messages posted to one channel are automatically copied
  to the other channel. If you are not an active IRC user, prefer
  joining the Matrix channel instead because it is more convenient for
  someone unfamiliar with IRC.
</p>
<h2 id="active">Current Activities</h2>
<p>
  <a href="mastering-emacs/{{ index }}">Mastering Emacs</a> (Started on 16 Dec 2022)
</p>
<h2 id="completed">Completed Activites</h2>
<p>
  <a href="iant/{{ index }}">Introduction to Analytic Number Theory</a>
  (05 May 2021 to 01 Oct 2021, 120 meetings)
</p>
<h2 id="meeting-logs">Meeting Logs</h2>
<p><a href="mastering-emacs/log.html">Mastering Emacs</a></p>
<p><a href="iant/log.html">Introduction to Analytic Number Theory</a></p>
<p><a href="log.html">All Meetings</a></p>
<h2 id="resources">Resources</h2>
<p><a href="../tag/computation.html">News and Updates</a></p>
