<!-- title: Notes from Mastering Emacs Meetups -->
<h1>{{ title }}</h1>
<p>
  The following notes were taken while discussing the
  book <em>Mastering Emacs</em>, 2022 edition (written by Mickey
  Petersen) in
  <a href="./{{ index }}">book discussion group meetings</a>.
</p>
<ul class="blog">
  <li>
    <a href="ch01.html">Notes on Chapter 1: Introduction</a>
  </li>
  <li>
    <a href="ch02.html">Notes on Chapter 2: The Way of Emacs</a>
  </li>
  <li>
    <a href="ch03.html">Notes on Chapter 3: First Steps</a>
  </li>
  <li>
    <a href="ch04.html">Notes on Chapter 4: The Theory of Movement</a>
  </li>
  <li>
    <a href="ch05.html">Notes on Chapter 5: The Theory of Editing</a>
  </li>
</ul>
