<!-- date: 2018-07-26 -->
<!-- title: Backlinks -->
<!-- tag: Meta -->
<h1>{{ title }}</h1>
<div>A list of backlinks and mentions on other websites</div>
<ul class="blog">
  <li>
    <a href="https://gigazine.net/gsc_news/en/20240406-guess-rgb/">Gigazine: Guess My RGB</a>
    (06 Apr 2024)<br>&#x21aa;
    <a href="myrgb.html">Guess My RGB</a>    
  <li>
    <a href="https://www.youtube.com/watch?v=l9EXPvxjzwo&amp;t=1771s">Adobe Live: The File New Show: Episode 51</a>
    (05 Apr 2024)<br>&#x21aa;
    <a href="myrgb.html">Guess My RGB</a>
  </li>
  <li>
    <a href="https://irreal.org/blog/?p=11900">Irreal: Query Replace Regexp</a>
    (11 Jan 2024)<br>&#x21aa;
    <a href="elisp-in-replacement-string.html">Elisp in Replacement String</a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=Lju6aYms2EA&amp;t=876s">Mind Your Decisions: Math problem inspired by a children's game</a>
    (03 Sep 2023)<br>&#x21aa;
    <a href="langford-pairing.html">Langford Pairing</a>
  </li>
  <li>
    <a href="https://irreal.org/blog/?p=11559">Irreal: Emacs Text Sorting</a>
    (13 Aug 2023)<br>&#x21aa;
    <a href="sorting-in-emacs.html">Sorting in Emacs</a>
  </li>
  <li>
    <a href="https://irreal.org/blog/?p=11485">Irreal: Emacs For Common Lisp</a>
    (11 Jul 2023)<br>&#x21aa;
    <a href="https://github.com/susam/emacs4cl">Emacs4CL</a>
  </li>
  <li>
    <a href="https://irreal.org/blog/?p=11362">Irreal: Devil Mode</a>
    (16 May 2023)<br>&#x21aa;
    <a href="https://susam.github.io/devil/">Devil Mode</a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=IGt9Cc3OSVE&amp;t=8169s">Challenge The Cyber 2022 Challenges Discord Q&amp;A</a>
    (25 May 2022)<br>&#x21aa;
    <a href="https://github.com/susam/mintotp">MinTOTP</a>
  </li>
  <li>
    <a href="https://www.pointer.io/archives/40664fe1e3/">Pointer Issue #270</a>
    (19 Nov 2021)<br>&#x21aa;
    <a href="peculiar-self-references.html">Peculiar Self-References</a>
  </li>
  <li>
    <a href="https://irreal.org/blog/?p=7365">Irreal: Managing Forks and Pull Request in GitHub</a>
    (26 Jul 2018)<br>&#x21aa;
    <a href="https://github.com/susam/gitpr">Fork and Pull Request Workflow</a>
  </li>
</ul>
