<!-- date: 2026-05-14 -->
<!-- title: Commenting Guidelines -->
<!-- tag: Meta -->
<!-- uuid: b9d391bb-4cf2-49a8-8e7a-c5b7216bdf01 -->
<h1>Commenting Guidelines</h1>
<p>
  When commenting on this website, please keep the following points in
  mind:
</p>
<ul>
  <li>
    <p>
      You may include HTML or Markdown in your comment.  Comments are
      converted to HTML and sanitised before they are published on
      this website.
    </p>
  </li>
  <li>
    <p>
      All submitted comments are held for review.  Whether a comment
      is published or not is at the discretion of the author of this
      website.
    </p>
  </li>
  <li>
    <p>
      Typically, only the following types of comments are published:
    </p>
    <ul>
      <li>
        Comments that add new information or insight to the topic
        discussed in an article.
      </li>
      <li>
        Comments that provide a neutral, supporting or opposing
        viewpoint.
      </li>
      <li>
        Comments that report typos, errors or bugs on the website.
      </li>
      <li>
        Comments that contain good humour.
      </li>
      <li>
        Comments that express appreciation.
      </li>
    </ul>
  </li>
  <li>
    <p>
      Generally, rants are not published, even when the post you are
      commenting on is itself a rant.  This website is the author's
      place to rant.  It is not your place to rant.  If you really
      need to rant, please do so on your own website.  This guideline
      exists to maintain a high signal-to-noise ratio in
      the <a href="comments/{{ index }}">comments</a> section.
    </p>
  </li>
  <li>
    <p>
      All comments deemed suitable for this website by its author
      become publicly available on this website at two places: on the
      comment page for the article you commented on
      (<a href="comments/fd-100.html">example</a>) and on the overall
      comment index page at <a href="comments/{{ index
      }}">comments</a>.
    </p>
  </li>
  <li>
    Do not submit sensitive personal data in your comments.
  </li>
</ul>
