<!-- date: 2026-01-03 -->
<!-- title: Ideas -->
<!-- tag: Meta -->
<!-- key: ideas -->
<!-- import: math.inc -->
<h1>{{ title }}</h1>
<p>
  Hello!  This is my <a href="https://aboutideasnow.com/about">ideas
  page</a> where I keep a brief record of some ideas I might want to
  explore in the near future.  For ideas I have already begun
  exploring, please see my <a href="now.html">now page</a> or
  my <a href="pages.html">web log</a> instead.
</p>
<p>
  As of 03 Jan 2026, I have the following ideas in mind that I might
  want to explore in future:
</p>
<ul>
  <li>
    Explore the problem of checking whether two self-complementary
    graphs are isomorphic.
  </li>
  <li>
    Learn why \( s \)-arc transitive graph must have \( s \le 7 \).
  </li>
</ul>
