<!-- date: 2024-02-18 -->
<!-- title: Quick Links -->
<!-- tag: Meta -->
<h1>{{ title }}</h1>
<p>
  This page contains quick links to various sections of this website.
</p>
<h2 id="pages">Pages</h2>
<ul>
  <li>
    <a href="./{{ index }}">Blog Posts</a>
  </li>
  <li>
    <a href="wall.html">Quick Posts</a>
  </li>
  <li>
    <a href="rwx/{{ index }}">Weekly Explorations</a>
  </li>
  <li>
    <a href="cc/{{ index }}">Computation Club</a>
  </li>
  <li>
    <a href="feed.html">All Pages</a>
  </li>
  <li>
    <a href="tag/{{ index }}">Topics</a>
  </li>
  <li>
    <a href="backlinks.html">Backlinks</a>
  </li>
</ul>
<h2 id="fun">Fun Pages</h2>
<ul>
  <li>
    <a href="blank.html">blank.html</a> &mdash; Blank page
  </li>
  <li>
    <a href="cfrs.html">cfrs.html</a> &mdash; Minimal drawing language with only six commands
  </li>
  <li>
    <a href="fxyt.html">fxyt.html</a> &mdash; Tiny, stack-based, postfix canvas colouring language
  </li>
  <li>
    <a href="jokes.html">jokes.html</a> &mdash; My favourite jokes
  </li>
  <li>
    <a href="invaders.html">invaders.html</a> &mdash; 1980s-arcade-style invaders game
  </li>
  <li>
    <a href="myrgb.html">myrgb.html</a> &mdash; RGB colour guessing game
  </li>
</ul>
<h2 id="demos">Fun Demos</h2>
<ul>
  <li>
    CFRS[] Demos:
    <a href="cfrs.html#1">#1</a>,
    <a href="cfrs.html#2">#2</a>,
    <a href="cfrs.html#3">#3</a>,
    <a href="cfrs.html#4">#4</a>,
    <a href="cfrs.html#5">#5</a>
  </li>
  <li>
    FXYT Demos:
    <a href="https://susam.net/fxyt.html#XYxTN1srN255pTN1sqD">#1</a>,
    <a href="https://susam.net/fxyt.html#XYaTN1srN255pTN1sqN0">#2</a>,
    <a href="https://susam.net/fxyt.html#XYoTN1srN255pTN1sqDN0S">#3</a>,
    <a href="https://susam.net/fxyt.html#XYpTN1srN255pTN1sqD">#4</a>,
    <a href="https://susam.net/fxyt.html#XYN256sTdrD">#5</a>
  </li>
  <li>
    Invaders: <a href="invaders.html#auto">Autopilot</a>
  </li>
</ul>
<h2 id="sections">Subscribe</h2>
<ul>
  <li>
    <a href="feed.xml">By RSS Feed</a>
  </li>
  <li>
    <a href="{{ site-url }}form/subscribe/">By Email Newsletter</a>
  </li>
</ul>
<h2 id="social">Social</h2>
<ul>
  <li>
    <a href="https://github.com/susam">GitHub</a>
  </li>
  <li>
    <a href="https://mastodon.social/@susam">Mastodon</a>
  </li>
  <li>
    <a href="https://twitter.com/susam">Twitter</a>
  </li>
  <li>
    <a href="https://twitch.tv/susampal">Twitch</a>
  </li>
  <li>
    <a href="https://web.libera.chat/#susam">IRC</a>
  </li>
  <li>
    <a href="https://app.element.io/#/room/#susam:matrix.org">Matrix</a>
  </li>
</ul>
