<!-- date: 2024-02-18 -->
<!-- title: Quick Links -->
<!-- tag: Meta -->
<!-- key: pmryq -->
<h1>{{ title }}</h1>
<p>
  This page contains quick links to various sections of this website.
</p>
<h2 id="pages">Pages</h2>
<ul>
  <li>
    <a href="./{{ index }}">Blog Posts</a>
  </li>
  <li>
    <a href="maze.html">Quick Notes</a>
  </li>
  <li>
    <a href="tag/{{ index }}">Tags</a>
  </li>
  <li>
    <a href="pages.html">All Pages</a>
  </li>
  <li>
    <a href="comments/{{ index }}">All Comments</a>
  </li>
  <li>
    <a href="guestbook.html">Guestbook</a>
  </li>
  <li>
    <a href="cc/{{ index }}">Computation Club</a>
  </li>
  <li>
    <a href="roll.html">Blogroll</a>
  </li>
  <li>
    <a href="colophon.html">Colophon</a>
  </li>
</ul>
<h2 id="fun">Fun Pages</h2>
<ul>
  <li>
    <a href="contrast.html">Contrast Calculator</a> &mdash; Calculate contrast between two colours per WCAG formula
  </li>
  <li>
    <a href="cfrs.html">CFRS[]</a> &mdash; Minimal drawing language with only six commands
  </li>
  <li>
    <a href="fxyt.html">FXYT</a> &mdash; Tiny, stack-based, postfix canvas colouring language
  </li>
  <li>
    <a href="myrgb.html">Guess My RGB</a> &mdash; RGB colour guessing game
  </li>
  <li>
    <a href="invaders.html">Invaders</a> &mdash; 1980s-arcade-style invaders game
  </li>
  <li>
    <a href="jokes.html">Jokes</a> &mdash; My favourite jokes
  </li>
  <li>
    <a href="primegrid.html">Prime Grid</a> &mdash; Explore prime numbers in a grid
  </li>
  <li>
    <a href="quickqwerty.html">QuickQWERTY</a> &mdash; Touch typing tutor for QWERTY keyboard
  </li>
</ul>
<h2 id="demos">Fun Demos</h2>
<ul>
  <li>
    CFRS[] Demos:
    <a href="cfrs.html#1">#1</a>,
    <a href="cfrs.html#2">#2</a>,
    <a href="cfrs.html#3">#3</a>,
    <a href="cfrs.html#4">#4</a>,
    <a href="cfrs.html#5">#5</a>
  </li>
  <li>
    FXYT Demos:
    <a href="fxyt.html#XYxTN1srN255pTN1sqD">#1</a>,
    <a href="fxyt.html#XYaTN1srN255pTN1sqN0">#2</a>,
    <a href="fxyt.html#XYoTN1srN255pTN1sqDN0S">#3</a>,
    <a href="fxyt.html#XYpTN1srN255pTN1sqD">#4</a>,
    <a href="fxyt.html#XYN256sTdrD">#5</a>
  </li>
  <li>
    Invaders: <a href="invaders.html#auto">Autopilot</a>
  </li>
</ul>
<h2 id="quirky">Quirky Pages</h2>
<ul>
  <li><a href="pc.html">ASCII PC</a></li>
  <li><a href="assoc.html">Associations</a></li>
  <li><a href="eql.html">Equal Length Words</a></li>
  <li><a href="0573e7473.html">SHA256 Hash of Self-Referential Message</a></li>
</ul>
<h2 id="sections">Subscribe</h2>
<ul>
  <li>
    <a href="feed.xml">By RSS Feed</a>
  </li>
  <li>
    <a href="form/subscribe/{{ index }}">By Email Newsletter</a>
  </li>
</ul>
<h2 id="social">Social</h2>
<ul>
  <li>
    <a href="https://codeberg.org/susam">Codeberg</a>
  </li>
  <li>
    <a href="https://github.com/susam">GitHub</a>
  </li>
  <li>
    <a href="https://mastodon.social/@susam">Mastodon</a>
  </li>
  <li>
    <a href="https://twitch.tv/susampal">Twitch</a>
  </li>
  <li>
    <a href="https://web.libera.chat/#susam">IRC</a>
  </li>
  <li>
    <a href="https://app.element.io/#/room/#susam:matrix.org">Matrix</a>
  </li>
</ul>
