<!-- title: Quick Links -->
<h1>{{ title }}</h1>
<p>
  This page contains quick links to various sections of this website.
</p>
<h2 id="posts">Posts</h2>
<ul class="blog">
  <li>
    <a href="./{{ index }}">Blog</a>
  </li>
  <li>
    <a href="wall.html">Other Posts</a>
  </li>
  <li>
    <a href="posts.html">Browse All Posts</a>
  </li>
  <li>
    <a href="tag/{{ index }}">Browse Post by Tags</a>
  </li>
</h2>
<h2 id="sections">Sections</h2>
<ul class="blog">
  <li>
    <a href="maze/{{ index }}">Maze</a>
  </li>
  <li>
    <a href="cc/{{ index }}">Computation Club</a>
  </li>
</ul>
<h2 id="fun">Fun Pages</h2>
<ul class="blog">
  <li>
    <a href="invaders.html">invaders.html</a> &mdash; 1980s-arcade-style game
  </li>
  <li>
    <a href="cfrs.html">cfrs.html</a> &mdash; Minimal drawing language with only six commands
  </li>
  <li>
    <a href="fxyt.html">fxyt.html</a> &mdash; Tiny, stack-based, postfix canvas colouring language
  </li>
  <li>
    <a href="blank.html">blank.html</a> &mdash; Blank page
  </li>
</ul>
