<!-- date: 2026-01-03 -->
<!-- title: Now -->
<!-- tag: Meta -->
<!-- key: nowpg -->
<h1>{{ title }}</h1>
<p>
  Hello!  This is my '<a href="https://nownownow.com/about">now
  page</a>' where I keep a brief record of what I am up to these days.
</p>
<p>
  As of 03 Jan 2026, I am:
</p>
<ul>
  <li>
    Studying the book <em>Algebraic Graph Theory</em> by Godsil and
    Royle.
  </li>
  <li>
    Learning about the Coxeter graph and Tutte's 8-cage.
  </li>
  <li>
    Learning about distance-transitive graphs, in general.
  </li>
  <li>
    Maintaining this website.
  </li>
  <li>
    Occasionally posting comments to Hacker News
    (<a href="https://news.ycombinator.com/threads?id=susam">see here</a>).
  </li>
</ul>
