<!-- title: Privacy Notice -->
<!-- date: 2022-11-20 -->
<!-- tag: Meta -->
<h1>Privacy Notice</h1>
<p>
  <a href="https://susam.net/">Susam.Net</a> (this website) is a
  personal website maintained by Susam Pal.  This privacy notice
  explains how this website uses the data it collects from you when
  you use this website.
</p>
<h2 id="data-items">Data Items</h2>
<p>
  This website collects the following data:
</p>
<ol>
  <li>
    <p>
      The text submitted by you if you submit a new comment to this
      website.  This text submitted by you may contain your name, a
      URL to your profile on the world wide web, and a comment.  This
      text is written by you, so you are in complete control of what
      you submit in the text.  You must not submit sensitive personal
      data to this website.
    </p>
  </li>
  <li>
    <p>
      Your email address submitted by you if you submit a subscribe or
      unsubscribe request to this website.
    </p>
  </li>
  <li>
    <p>
      Your Internet Protocol (IP) address used to visit this website.
    </p>
  </li>
  <li>
    <p>
      HTTP referrer URL sent by your web browser or client software
      while connecting to this website.  A web browser or a client
      software typically, but not necessarily, sends the URL of the
      web page or website where you clicked on a link to visit this
      website as the HTTP referrer value.  If this website is visited
      directly without clicking on any link, then a web browser or
      client does not typically send any HTTP referrer data.
    </p>
  </li>
  <li>
    <p>
      User agent string sent by your web browser or client software
      while visiting this website.  A web browser or a client software
      typically, but not necessarily, sends the names and versions of
      your device, operating system, and web browser or client
      software as the user agent string.
    </p>
  </li>
</ol>
<h2 id="data-collection">Data Collection</h2>
<p>
  When you visit this website, your IP address, referrer data, and
  user agent string are automatically recorded in web server log
  files.
</p>
<p>
  When you submit a new comment to this website successfully, your
  text is written to a file on the web server.  If the comment
  submission fails due to errors, then your text is neither saved nor
  published.  If the comment submission succeeds, the text submitted
  by you is reviewed within 30 days.  If your comment is found to be
  suitable for this website, then the text you have submitted is
  published on the website.  If the comment is found to be unsuitable
  for this website, then the text file containing your submitted text
  is deleted.
</p>
<p>
  When you submit a new subscribe or unsubscribe request to this
  website successfully, your email address is written to a file on the
  web server.  If the request submission fails due to errors, then
  your email address is not saved.  If the subscribe or unsubscribe
  request succeeds, the email address submitted by you is added to a
  Google Groups mailing list that is used to send email newsletters.
  The use of your email address by Google Groups is covered by
  Google's privacy policy.
</p>
<h2 id="data-usage">Data Usage</h2>
<p>
  The IP address, referrer data, and user agent string is used to
  monitor abuse of this website such as submitting spam comments,
  sending too many requests to reduce the availability of this
  website, etc.  This data is also used to mitigate abuse of this
  website by blocking certain combinations of IP address, referrer
  data, and/or user agent from accessing this website or by limiting
  the number of requests such a combination may send to this website.
</p>
<p>
  If you submit a comment to this website successfully and if the
  comment is found to be suitable for this website during review, the
  comment text is published at a comments page on this website.
  Whether a comment is published or not is at the discretion of the
  maintainer of this website.  When your comment text is published on
  this website, it becomes available publicly to anyone who visits the
  comments page.  You must not submit sensitive personal data to this
  website.
</p>
<p>
  If you submit a subscribe request to this website successfully, then
  at the discretion of the maintainer of this website, your email
  address may be added to the email newsletter recipient list.  The
  recipient list is maintained in Google Groups, a third-party service
  provided by Google LLC.  This website uses Google Groups mailing
  list to send email newsletters.  The mailing list is configured to
  not expose your email address to other subscribers.  The use of your
  email address by Google Groups is covered by Google's privacy
  policy.
</p>
<p>
  If you submit an unsubscribe request to this website successfully,
  then your email address is removed from the Google Groups mailing
  list within 30 days if the email address exists in the mailing list.
  You can remove your email address immediately from the Google Groups
  mailing list by sending an email
  to <code>susampal+unsubscribe@googlegroups.com</code>.
</p>
<h2 id="data-storage">Data Storage</h2>
<p>
  The IP address, referrer data, and user agent string are stored in
  web server log files.  This data is retained for 15 days.  After 15
  days, this data is deleted automatically.
</p>
<p>
  A successfully submitted comment text is first stored in a text file
  on the web server.  The comment text is reviewed within 30 days.  If
  the comment is found to be suitable for this website, the comment
  text is copied to a comments page where the comment becomes
  available publicly on the world wide web.  If the comment is found
  to be unsuitable for this website, then the text file containing
  your submitted text is deleted from the web server.  You must never
  submit sensitive personal data to this website.
</p>
<p>
  A successfully submitted email address in a subscribe or unsubscribe
  request is first stored in a text file on the web server.  The email
  address is reviewed within 30 days.  At the discretion of the
  maintainer of this website, a successfully submitted subscription
  request is either accepted or rejected.  When a subscription request
  is accepted, the email address is added to a Google Groups mailing
  list that is used to send email newsletters.  After adding your
  email address to the mailing list, the text file containing your
  email address is deleted from the web server.  The mailing list is
  configured to not expose your email address to other subscribers.
  When a subscription request is rejected, the text file containing
  your email address is deleted from the web server.  A successfully
  submitted unsubscribe request is always accepted within 30 days.
  The email address submitted in an unsubscribe request is removed
  from the Google Groups mailing list within 30 days if it exists in
  the mailing list.  Then the text file containing the email address
  is deleted.  The use of your email address by Google Groups is
  covered by Google's privacy policy.
</p>
<h2 id="third-party-services">Third-Party Services</h2>
<p>
  If and only if you successfully submit a request to subscribe to the
  email newsletters of this website and your subscription requested is
  accepted, your email address is added to a Google Groups mailing
  list used to send email newsletters.  Google Groups is a third-party
  service provided by Google LLC.  The use of your email address by
  Google Groups is covered by Google's privacy policy.  Google's
  privacy policy is available
  at <a href="https://policies.google.com/privacy">policies.google.com/privacy</a>.
</p>
<h2 id="third-party-analytics">Third-Party Analytics</h2>
<p>
  This website does not use third-party analytics.
</p>
<h2 id="cookies">Cookies</h2>
<p>
  This website does not use cookies.
</p>
<h2 id="marketing">Marketing</h2>
<p>
  This website does not use your data for marketing purpose.
</p>
<h2 id="contact">Contact</h2>
<p>
  If you have any questions about the data collected by this website,
  please contact susam (dot) pal (at) gmail (dot) com.
</p>
