<!-- title: Jokes -->
<h1>Jokes</h1>
<p>
  This page has a collection of some of my favourite jokes collected
  from folklore.  They are roughly in the order of how funny I find
  them.  The funniest ones are at the top.
</p>
<h2 id="three-pints-of-guinness">Three Pints of Guinness</h2>
<p>
  A man walks into a pub and says, "Give me three pints of Guinness,
  please."
</p>
<p>
  So the bartender brings him three pints and the man proceeds to
  alternately sip one, then the other, then the third until they're
  gone.
</p>
<p>
  He then orders three more and the bartender says, "Sir, I know you
  like them cold, so you can start with one and I'll bring you a fresh
  one as soon as you're low."
</p>
<p>
  The man says, "You don't understand.  I have two brothers, one in
  Australia and one in the States.  We made a vow to each other that
  every Saturday night we'd still drink together.  So right now, my
  brothers have three Guinness Stouts too and we're drinking
  together."
</p>
<p>
  The bartender thinks it's a wonderful tradition and every week he
  sets up the guy's three beers as soon as he enters in the bar.  Then
  one week, the man comes in and orders only two.  He drinks them,
  then orders two more.  The bartender sadly says, "Knowing your
  tradition, I'd just like to just say that I'm sorry that one of your
  brothers died."
</p>
<p>
  The man replies, "Oh, my brothers are fine – I just quit drinking."
</p>
<h2 id="a-pun-walks-into-a-bar">A Pun Walks Into a Bar</h2>
<p>
  A pun walks into a bar, ten people die on the spot.  Pun in, ten
  dead.
</p>
<h2 id="ten-puns">Ten Puns</h2>
<p>
  I once submitted ten puns to a contest hoping one would win, but no
  pun in ten did.
</p>
<h2 id="infinite-mathematicians">Infinite Mathematicians</h2>
<p>
  An infinite number of mathematicians walk into a bar.  The first
  says, "Give me a beer."  The second says, "I'll have half a beer."
  The third says, "A quarter of a beer, please."  The bartender pours
  two beers and says, "Come on, people.  Know your limits."
</p>
<h2 id="three-logicians">Three Logicians</h2>
<p>
  Three logicians walk into a bar.  The bartender asks, "Does everyone
  want beer?"  The first logician says, "I don't know."  The second
  logician says, "I don't know."  The third logician says, "Yes."
</p>
<h2 id="two-hard-things">Two Hard Things</h2>
<p>
  There are only two hard things in Computer Science: cache
  invalidation, naming things, and off-by-one errors.
</p>
<h2 id="octal">Octal</h2>
<p>
  Why don't jokes work in octal?  Because 7 10 11.
</p>
<h2 id="halloween-and-christmas">Halloween and Christmas</h2>
<p>
  Why do programmers always mix up Halloween and Christmas?  Because
  Oct 31 = Dec 25.
</p>
<h2 id="4d-printer">4D Printer</h2>
<p>
  How do you turn a 3D printer into a 4D printer?  Just give it time.
</p>
