<hr>
<div style="font-style: italic">
  <p>
    See Also:
  </p>
  <ul>
    <li><a href="inverse-laws-of-robotics.html">Three Inverse Laws of AI and Robotics</a></li>
    <li><a href="twenty-five-years-of-computing.html">Twenty Five Years of Computing</a></li>
  </ul>
  <p>
    Subscribe/Follow:
  </p>
  <ul>
    <li><a href="form/subscribe/">By Email</a></li>
    <li><a href="https://mastodon.social/@susam">By Mastodon</a></li>
    <li><a href="https://web.libera.chat/#susam">By Internet Relay Chat</a></li>
  </ul>
</div>
