<h1>{{ title }}</h1>
<div class="status {{ class }}">
{{ status }}</div>
<form method="post" action="?p={{ p }}">
  <input id="name" name="name" value="{{ name }}" autofocus required
         placeholder="Your name">
  <input type="url" id="url" name="url" value="{{ url }}"
         placeholder="Link to your profile on GitHub, Codeberg, Mastodon, etc. (Optional)">
  <textarea id="comment" name="comment" required
            placeholder="Your comment">{{ comment }}</textarea>
  <input type="hidden" name="slug" value="{{ slug }}">
  <input type="hidden" name="{{ ukey }}" value="{{ uval }}">
  <input type="hidden" name="{{ vkey }}" value="{{ vval }}">
  <button>Submit Comment</button>
</form>
<p>
  Note: Not all comments are published.  In particular, rants, even
  when relevant, are generally not published.  Please read the links
  below for more details.
</p>
<p class="guide">
  <a href="../../commenting.html">Commenting Guidelines</a>
</p>
<p class="privacy">
  <a href="../../privacy.html">Privacy Notice</a>
</p>
<script src="../../js/form.js"></script>
