<h1>{{ title }}</h1>
<div class="status {{ class }}">
{{ status }}</div>
<form method="post" action="?p={{ p }}">
  <input id="name" name="name" value="{{ name }}" autofocus required
         placeholder="Your name">
  <input type="url" id="url" name="url" value="{{ url }}"
         placeholder="Link to your website or profile on Twitter, Github, etc. (Optional)">
  <textarea id="comment" name="comment" required
            placeholder="Your comment">{{ comment }}</textarea>
  <input type="hidden" name="slug" value="{{ slug }}">
  <input type="hidden" name="{{ ukey }}" value="{{ uval }}">
  <input type="hidden" name="{{ vkey }}" value="{{ vval }}">
  <button>Submit Comment</button>
</form>
<div class="privacy">
  <a href="../../privacy.html">Read Privacy Notice</a>
</div>
<script src="../../js/form.js"></script>
