<h1>{{ title }}</h1>
<div class="status {{ class }}">
{{ status }}</div>
<p>
  Enter your email address below to {{ intention }}
  newsletters from this website.
</p>
<form method="post" action="">
  <input type="email" id="email" name="email" value="{{ email }}"
         placeholder="Your email address" required>
  <input type="hidden" name="{{ xkey }}" value="{{ xval }}">
  <input type="hidden" name="{{ ykey }}" value="{{ yval }}">
  <button>{{ submit }}</button>
</form>
<p>
  Note: This website uses Google Groups to send email newsletters.
  Your email address will be {{ purpose }} Google Groups mailing list
  that is used to send emails to subscribers. The mailing list does
  not expose your email address to other subscribers. This website
  does not share your email address with any other party.
</p>
<p>
  Read the <a href="../../privacy.html">privacy notice</a> for more
  details. Google's privacy policy can be found at
  <a href="https://policies.google.com/privacy">policies.google.com/privacy</a>.
</p>
