<h1>{{ title }}</h1>
<div class="status {{ class }}">
  {{ status }}
</div>
<p>
  Enter your email address below to {{ purpose }}
  newsletters from this website.
</p>
<form method="post" action="">
  <input type="email" id="email" name="{{ email-key }}" value="{{ email-value }}"
         placeholder="Your email address" required>
  <input type="hidden" name="{{ info-key }}" value="{{ info-value }}">
  <input type="hidden" name="{{ meta-key }}" value="{{ meta-value }}">
  <input type="hidden" name="{{ hash-key }}" value="{{ hash-value }}">
  <button>{{ submit-value }}</button>
</form>
